.container {
    background-color: blue;
    text-align: center;
}

.title {
    color: yellow;
}

.Links {
    color: white;
    display: block;
}

.valueCount {
    background-color: white;
    padding: 2px 10px;
    margin: 10px;
}